name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  e2e:
    strategy:
      matrix:
        version: [16, 18, 20]
        os: ["windows-latest", "ubuntu-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.version }}.x
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}

      - name: Run npm ci
        run: npm ci

      - name: Run commitlint
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --verbose

      - name: setup macOS shells
        if: matrix.os == 'macos-latest'
        shell: bash
        run: |
          brew install fish
          brew install zsh

          git clone https://github.com/zsh-users/zsh-autosuggestions ~/.zsh/zsh-autosuggestions
          echo "source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh" > ~/.zshrc

          sudo chmod g-w /usr/local/share/zsh /usr/local/share/zsh/site-functions /usr/share/zsh

      - name: setup linux shells
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          sudo apt-add-repository ppa:fish-shell/release-3
          sudo apt-get update
          sudo apt install fish zsh

          git clone https://github.com/zsh-users/zsh-autosuggestions ~/.zsh/zsh-autosuggestions
          echo "source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh" > ~/.zshrc

          sudo chmod -R 755 /usr/share/zsh/vendor-completions
          sudo chown -R root:root /usr/share/zsh/vendor-completions
          sudo chmod -R 755 /usr/share/zsh
          sudo chown -R root:root /usr/share/zsh

      - name: setup windows shells
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          python -m pip install 'xonsh[full]'

      - name: Run npm run lint
        run: npm run lint

      - name: Run npm run test:e2e
        run: npm run test:e2e
